@{
    ViewBag.Title = "Hồ sơ";
}

<form action="/Trang1/HoSo" method="post" enctype="multipart/form-data">
    <div>
        Hình Ảnh
        <input name="image" type="file"/>
    </div>
    <div>
        Tài liệu
        <input name="document" type="file" />
    </div>
    <hr />
    <input type="submit" value="Gửi"/>
</form>
