@{
    ViewBag.Title = "Trang Chủ";
}

<div class="jumbotron">
    <h1>Hỗ trợ sinh viên 5 tốt</h1>
    <p class="lead">Sinh viên có nhiều điểm lợi ích</p>
    <p><a href="https://www.hutech.edu.vn/" class="btn">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            VVV
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/03668382xx/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AAA</h2>
        <p>A</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/03668382xx/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BBB</h2>
        <p>B</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/03668382xx/">Learn more &raquo;</a></p>
    </div>
</div>