@{
    ViewBag.Title = "Liên hệ";
}
<form>
    <fieldset>
        <label> Form </label>
        <br />
        <input type="text" />
    </fieldset>
    <fieldset>
        <label> To</label>
        <br />
        <input type="text" />
    </fieldset>
    <fieldset>
        <label> Subject </label>
        <br />
        <input type="text" />
    </fieldset>
    <fieldset>
        <label> Body </label>
        <br />
        <textarea id="NoiDung"></textarea>
    </fieldset>
    <fieldset>
       <button ></button>
    </fieldset>

</form>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>