@model HoTroSinhVien.Models.DangNhap
@using (Html.BeginForm("DangKi", "Home", FormMethod.Post))
{
    <h2> Đăng kí tài khoản</h2>

    <form>
        <fieldset class="form-group">
            <label for="formGroup1">Tên tài khoản</label>
            @Html.TextBoxFor(m => m.TaiKhoan, null, new { @class = "form-control", @placeholder = "Tài khoản" })
        </fieldset>

        <fieldset class="form-group">
            <label for="formGroup1">Mật Khẩu</label>
            @Html.TextBoxFor(m => m.MatKhau, null, new { @class = "form-control", @placeholder = "Mật khẩu" })
        </fieldset>
        
        <fieldset class="form-group">
            <button type="submit" class="btn">Đăng Kí</button>
        </fieldset>

        <fieldset class="form-group">
            @ViewBag.Message
        </fieldset>
    </form>

}